body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card .card-image .detail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    width: 300px;
}

.App-header-al {
    background-color: #222;
    height: 115px;
    padding: 20px;
    color: white;
}

.App-header-al a:hover {
    text-decoration: none;
}

.topgo {
    margin-top: 20px;
}

.map {
    min-width: 300px;
    min-height: 300px;
    width: 100%;
    height: 100%;
}

.header {
    background-color: #F5F5F5;
    color: #36A0FF;
    height: 70px;
    font-size: 27px;
    padding: 10px;
}

.card-content p {
    font-size: 14px;
}

a.header.item {
    font-size: 15px;
}
a:hover {
    cursor: pointer;
}

th.MuiTableCell-root-40.MuiTableCell-head-41.WithStyles-TableCell--head-38 {
    font-size: 14px;
}

th.MuiTableCell-root-40.MuiTableCell-body-42, td.MuiTableCell-root-40.MuiTableCell-body-42 {
    font-size: 11px;
}

button.buttonViewDetails:hover {
    cursor: pointer;
    box-shadow: 1px 1px #888888;
}

button.buttonViewDetails {
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px 10px;
}

.viewed {
    background-color: lightgrey;
}

.emptyMessage {
    text-align: center !important;
    font-size: 14px !important;
    font-weight: bold !important;
    height: 50px !important;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #000; /* Black */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}